body {
    font-family: Arial, sans-serif;
    background: #0a2474;
    justify-content: center;
    align-items: center;
  }

  .tela{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    color:white;
    margin: 2px;

  }

  .calculadora {
    background: white;
    max-width: 700px;
    margin: 40px 10px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
  }

  h2 {
    text-align: center;
    color: #333;
  }

  .calculadora p {
    margin: 10px 0 5px;
    color: black;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  .resultado {
    background: #2C6FC8;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
  }

  .descricao {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }

  .aviso {
    background-color: #2C6FC8;
    color: white;
    border: 1px solid #ffeeba;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 13px;
  }

  .texto-menor {
    font-size: 0.8em;
    color: #555;
    margin-top: 10px;
  }

  button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
