
/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    color: white;
    padding: 200px 5% 0px 5%;
    text-align: left;
    height: calc(100vh - 88px);
}

/* Background Index */
.principal {
    background-image: url(../images/background_principal.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero h1 {
    font-size: 70px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 75px;
    width: 820px;
}

.hero p {
    width: 820px;
    font-size: 25px;
}

.hero #negrito {
    font-weight: 750;
}

.cta-button {
    font-size: 17px;
    background-color: white;
    color: #1a3b6d;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: all 0.3s ease;
    margin-top: 25px;
    width: fit-content;
}

.cta-button:hover {
    background-color: #ffffff;
    transform: translateY(-3px);
}

/*Divisor*/
.bar-divisor{
    width: 100%;
    height: 10px;
    background: #1554B2;
}

/* Benefícios */

.beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: #1F4E8C;
    padding: 2% 2% 0px 2%;
    text-align: left;
    height: 400px;
}

.quadradinho{
    display: flex;
    background-color: white;
    color: #1F4E8C;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 3%;
    
}

.coluna{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color:0;
    margin: 0px 20px;
    text-align: center;
}
.coluna img{
    width: 15%;
    margin-bottom: 15px;
}

.borda {
    padding-right: 4%;
    border-right: #0a2474 solid 5px;
    border-radius: 5px;
}

/* Diagrama */

.diagrama{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #edf0f2;
}
.diagrama img{
    width: 80%;
    border-radius: 20px;
}
/* Anuncio Calculadora */

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 20vh;
    color: white;
}
.container img{
    width: 100px;
    margin: 1%;
}

.main-content {

    display: flex;
    height: 100%;
    width: 100%;
    padding: 2rem;
    background: linear-gradient(135deg, #0a2474, #1b4bab);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main-content p{
    font-size: 1.5rem ;
}

.btn {
    background: white;
    color: #0a2474;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: transform 0.2s;
}

.btn:hover {
    transform: scale(1.05);
}


/* Parceiros */
.parceiros {
    padding: 20px 5%;
    color: white;
    text-align: center;
}

.parceiros p {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 500;
}

.logos-parceiros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logos-parceiros img {
    height: 57px;
    margin: 10px;
}

/*Sobre Nós*/
.banner-container.historia {
    height: calc(100vh - 88px - 227px);
    background-image: url(../images/HistDataClima.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.banner-dataclima {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    color: white;
    padding: 0px 5%;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.banner-dataclima h1 {
    font-size: 70px;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 75px;
    width: 820px;
    text-align: center;
}

.banner-dataclima p {
    width: 820px;
    font-size: 25px;
}

.banner-dataclima #negrito {
    font-weight: 750;
}

.conteudo-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: white;
    background: linear-gradient(to right, #1E5DAD, #1E2852);
    width: 100%;
    height: 200px;

}

/*Sobre nós - Equipe*/
.equipe-container {
    text-align: center;
    padding: 50px 5%;
    background-color: #f5f5f5;
}

.equipe-container h2 {
    font-size: 36px;
    color: #1554B2;
    margin-bottom: 30px;
    font-weight: bold;
}

.cards-equipe {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px; /* Essa propriedade define o espaço entre os itens de um container com display: flex ou grid. Nesse caso, criando um espaço entre os cards da equipe na horizontal e vertical. (Substitui a necessidade de usar o margin em cada card)*/
}

.card-membro {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Nesse caso estou definindo a cor como preto com transparência. Os tres primeiro definem a cor e o ultimo a transparência da seguinte forma: Quanto maior o ultimo numero menos transparência tem e vice versa*/
    padding: 20px;
    width: 180px;
    text-align: center;
    transition: transform 0.3s ease; /* Essa propriedade é um complemento do hover abaixo, onde ao invez do movimento do eixo Y ser instantâneo ele define como e quanto tempo o efeito vai durar quando o transform mudar: A logica é que referêncio o transform e defino um tempo de duração que seria 0.3s e o ease define como seria esse movimento, no caso o seria ele faz começar lento, acelerar no meio e por fim terminar devagar de novo dentro do tempo definido, é assim que funciona o ease nesse caso. */
}

.card-membro:hover {
    transform: translateY(-5px); /* Essa propriedade move o elemento 5 pixels no eixo Y, ou seja, para cima ou para baixo*/
}

.card-membro img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover; /* Essa tag ajusta a imagem para caber no círculo permitindo que a imagem seja cortada para caber dentro do tamanho definido sem distorcer */
    margin-bottom: 15px;
}

.card-membro p {
    font-weight: 600;
    color: #333;
}

