body {
    font-family: Arial, sans-serif;
    background-color: #63B1BC;
    margin: 0;
    padding: 0;
    background-image: url(../images/background_principal.png);
}

#container {
    width: 80%;
    margin: 250px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h3 {
    color: #ffffff;
}



textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 500px;
    height: 50px;
}

textarea:focus {
    outline: none;
    border: 2px solid #2214ed;
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #ffffff;
    color: #2214ed;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #2214ed;
    text-align: left;
    display: none;
}